* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    background: #007;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    flex-direction: column;
    min-width: 250px;
}

.h2 {
    font-weight: 400;
    font-size: 25px !important;
    margin-bottom: 20px !important;
}

.hidden {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    width: 600px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

ul li.checked {
    background: #159;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.header {
    width: 600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: blue;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    width: 75%;
    float: left;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    height: 38px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.refresh {
    gap: 20px;
    width: 600px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.refresh button {
    width: 50%;
    height: 40px;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.refresh button:nth-child(1) {
    background: red;
}

.refresh button:nth-child(2) {
    background: lightgreen;
}